@page "/"
@inject IJSRuntime JSRuntime;

<h1>Hello, world!</h1>


@* <form @onchange="OnHelmetChange">
    <label for="favcolor">Helmet:</label>
    <input
    type="color"
    id="favcolor"
    name="favcolor"
    value="#ff0000"
    /><br /><br />
</form> *@
<img src="images/head.svg" />
<img src="images/head_man.svg" />
<img src="images/head_woman.svg" />
<img src="images/head_girl.svg" />


